{{print this."equipment-active"}}
<div class="d-flex flex-row justify-content-between align-items-center">
    <h1 class="flex-grow-1">Các thiết bị</h1>
    <div class="d-flex gap-24">
        {{> listViewButton}}
        {{> normalButton content="+ Thêm thiết bị"}}
    </div>
</div>

<div class="d-flex flex-column bg-white container-fluid gray-border gap-24 border-radius-24" style="padding: 24px;">
    <div class="d-flex align-items-center p-0 justify-content-between" style="gap: 24px; height: 40px;">
        {{> searchBar}}
        {{> dataList selections}}
    </div>
    <div class="row row-cols-4 g-2" style="">
        {{#each equipments}}
        <div class="col p-2">
            <div class="card app-shadow">
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <div class="">icon</div>
                    {{!-- {{> toggleSwitch state}} --}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    {{!-- <p class="card-text">Ngưỡng an toàn trên: {{this.rangeUp}}</p>
                    <p class="card-text">Ngưỡng an toàn dưới: {{this.rangeDown}}</p> --}}
                    <p class="card-text">Vị trí: {{location}}</p>
                    {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>