
<div class="container">
    <div class="row">
        <h3 class="p-0">Thông tin thiết bị</h3>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-12 border bg-white" style="border-radius: 8px; box-shadow: 0 0 10px 1px #bebebe;">
            <div class="row mt-3">
                <div class="row d-flex justify-content-center">
                    <div class="col-11">
                        <div class="row">
                            <div class="col-6 m-0 p-0 mt-2">
                                Tên thiết bị: {{device.Name}}
                            </div>
                            <div class="col-6 m-0 p-0 mt-2">
                                Loại thiết bị: {{equipment.ElectricityEqType}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="row d-flex justify-content-center">
                    <div class="col-11">
                        <div class="row">
                            <div class="col-6 m-0 p-0 mt-2">
                                Vị trí: {{device.Location}}
                            </div>
                            <div class="col-6 m-0 p-0 mt-2">
                                Trạng thái: <span id="state">
                                {{#if equipment.State}}
                                    Bật
                                {{else}}
                                    Tắt
                                {{/if}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="row d-flex justify-content-center">
                    <div class="col-11">
                        <div class="row">
                            {{!-- <div class="col-6 m-0 p-0 mt-2">
                                Công suất: 36W
                            </div> --}}
                            <div class="col-6 m-0 p-0 mt-2">
                                Hẹn giờ: <span id="isTimer"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="row d-flex justify-content-center">
                    <div class="col-11">
                        <div class="row">
                            <div class="col-6 m-0 p-0 mt-2">
                                Hẹn giờ bật: <span id="timeTurnOnDisplay"></span>
                            </div>
                            <div class="col-6 m-0 p-0 mt-2">
                                Hẹn giờ tắt: <span id="timeTurnOffDisplay"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <h4>Thời gian sử dụng</h4>
                </div>
                <div class="row p-0 m-0 mt-2 mb-3 d-flex justify-content-center">
                    <div class="col-11" style="border: 1px solid #ccc; padding: 10px; border-radius: 8px; box-shadow: 0 0 10px 1px #bebebe;">
                        <div class="row">
                            <div class="col-6 mt-2">
                                <p>Tổng thời gian sử dụng</p>
                            </div>
                            {{!-- <div class="col-6 d-flex justify-content-end">
                                <div class="form-group">
                                    <label for="dayDropdown"></label>
                                    <select class="form-control float-right" id="dayDropdown" style="width: 125px; border: 1px solid #ccc; border-radius: 8px;">
                                        <option value="">Ngày</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                    </select>
                                </div>
                            </div> --}}
                            <canvas id="timeLineChart" width="400" height="75"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-11 m-0 mt-2 mb-3 justify-content-center">
                    <div class="row justify-content-end">
                            <div class="col-auto p-0">
                                <a href="./edit" type="button" class="btn" style="background-color: #7E25CA; color: white;" > Chỉnh sửa </a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var timedata = {{timedata}};
    var timelabels = {{{timelabels}}};
    const timeData = {
        labels: timelabels,
        datasets: [{
            label: 'data',
            data: timedata,
            fill: false,
            backgroundColor: '#7E25CA',
            borderColor: '#7E25CA',
            borderWidth: 1,
            barThickness: 30,
            borderRadius: 4,
        }]
    };

    const timeConfig = {
        type: 'bar',
        data: timeData,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                legend: {
                    display: false,
                },
            },
        }
    };

    var timeLineChart = new Chart(document.getElementById('timeLineChart'), timeConfig);

    var isTimer = {{equipment.Timer.isTimer}};
    var isTimerDiv = document.getElementById('isTimer');
    if (isTimer) {
        isTimerDiv.innerText += "Bật";

        var timeTurnOnString = "{{equipment.Timer.TimeTurnOn}}";
        var timeTurnOn = new Date(timeTurnOnString);
        var turnOnHours = timeTurnOn.getHours();
        var turnOnMinutes = timeTurnOn.getMinutes();
        var turnOnMonth = timeTurnOn.getMonth() + 1;
        var turnOnDate = timeTurnOn.getDate();
        var turnOnYear = timeTurnOn.getFullYear();
        var timeTurnOnFormatted = ('0' + turnOnHours).slice(-2) + ':' + ('0' + turnOnMinutes).slice(-2) 
                                 + ' ' + ('0' + turnOnDate).slice(-2) + '/' + ('0' + turnOnMonth).slice(-2) + '/' + ('0' + turnOnYear).slice(-2);
        document.getElementById('timeTurnOnDisplay').innerText = timeTurnOnFormatted;

        var timeTurnOffString = "{{equipment.Timer.TimeTurnOff}}";
        var timeTurnOff = new Date(timeTurnOffString);
        var turnOffHours = timeTurnOff.getHours();
        var turnOffMinutes = timeTurnOff.getMinutes();
        var turnOffMonth = timeTurnOff.getMonth() + 1;
        var turnOffDate = timeTurnOff.getDate();
        var turnOffYear = timeTurnOff.getFullYear();
        var timeTurnOffFormatted = ('0' + turnOffHours).slice(-2) + ':' + ('0' + turnOffMinutes).slice(-2) 
                                 + ' ' + ('0' + turnOffDate).slice(-2) + '/' + ('0' + turnOffMonth).slice(-2) + '/' + ('0' + turnOffYear).slice(-2);
        document.getElementById('timeTurnOffDisplay').innerText = timeTurnOffFormatted;
    } else {
        isTimerDiv.innerText += "Tắt";
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mqtt/5.5.2/mqtt.min.js" integrity="sha512-CiPPr+F/BXJ5o+gA/OKGVuplGXlmXaO0yPB7jBC1UBSzY3UVGiuogYIXJJJJs8bZ7tXWhJew86eyM+HIMPLy+A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    const mqttOptions = {
        username: '{{AIO_USERNAME}}',
        password: '{{AIO_KEY}}'
    };

    const client = mqtt.connect('mqtt://io.adafruit.com', mqttOptions);
    client.setMaxListeners(15);
    client.on('connect', function () {
        console.log('Connected to Adafruit MQTT broker');
        client_name = '{{AIO_USERNAME}}' + '/feeds/' + '{{device.AdaID}}'
        client.subscribe(client_name);
    });


    client.on('message', function (topic, message) {
        const stateUpdate = JSON.parse(message.toString());
        var stateDiv = document.getElementById('state');
        if (stateUpdate == 1) {
            stateDiv.innerText = "Bật";
        } else {
            stateDiv.innerText = "Tắt";
        }
    });
</script>

