<div class="container">
    <div class="row">
        <div class="col-6 p-0">
            <h3>Trang chủ</h3>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#7E25CA" class="bi bi-clock" viewBox="0 0 24 24">
                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
            </svg>
            <h4 id="current-time" style="color: #7E25CA"></h4>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-8">
            <div class="row p-0 mb-2">
                <div class="col-12 bg-white" style="margin-bottom: 10px; padding: 10px; border-radius: 8px; box-shadow: 0 0 10px 1px #bebebe;">
                    <div class="row">
                        <div class="col-6 mt-2">
                            <h5>Độ ẩm gần đây</h5>
                        </div>
                    </div>
                    <canvas id="humidityLineChart" width="400" height="75"></canvas>
                </div>
            </div>
            <div class="row p-0 mb-2">
                <div class="col-12 bg-white" style="margin-bottom: 10px; padding: 10px; border-radius: 8px; box-shadow: 0 0 10px 1px #bebebe;">
                    <div class="row">
                        <div class="col-6 mt-2">
                            <h5>Ánh sáng gần đây</h5>
                        </div>
                    </div>
                    <canvas id="lightLineChart" width="400" height="75"></canvas>
                </div>
            </div>
            <div class="row p-0 mb-2">
                <div class="col-12 bg-white" style="margin-bottom: 10px; padding: 10px; border-radius: 8px; box-shadow: 0 0 10px 1px #bebebe;">
                    <div class="row">
                        <div class="col-6 mt-2">
                            <h5>Nhiệt độ gần đây</h5>
                        </div>
                    </div>
                    <canvas id="temperatureLineChart" width="400" height="75"></canvas>
                </div>
            </div>
            {{!-- <div class="row p-0 mb-3">
                <div class="col-3">
                    <div class="col-12 d-flex justify-content-center bg-white" style=" padding: 10px; border-radius: 8px; box-shadow: 0 0 10px 1px #bebebe;">
                        <div style="display: flex; flex-direction: column; align-items: center">
                            <span class="mb-3" style="color: #7E25CA; font-size: 24px">
                                30*C
                            </span>
                            <span>
                                Nhiệt độ hiện tại
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="col-12 d-flex justify-content-center bg-white" style=" padding: 10px; border-radius: 8px; box-shadow: 0 0 10px 1px #bebebe;">
                        <div style="display: flex; flex-direction: column; align-items: center">
                            <span class="mb-3" style="color: #7E25CA; font-size: 24px">
                                70%
                            </span>
                            <span>
                                Độ ẩm hiện tại
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="col-12 d-flex justify-content-center bg-white" style=" padding: 10px; border-radius: 8px; box-shadow: 0 0 10px 1px #bebebe;">
                        <div style="display: flex; flex-direction: column; align-items: center">
                            <div class="row">
                                <div class="col-6">
                                    <svg id="lightbulb1" xmlns="http://www.w3.org/2000/svg" width="48px" height="48px" fill="#7E25CA" class="bi bi-lightbulb" viewBox="0 0 24 24">
                                        <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a2 2 0 0 0-.453-.618A5.98 5.98 0 0 1 2 6m6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1"/>
                                    </svg>
                                </div>
                                <div class="col-6">
                                    <svg id="toggle1" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="#7E25CA" class="bi bi-toggle-on" viewBox="0 0 24 24" onclick="toggleIcon(1)">
                                        <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8"/>
                                    </svg>
                                </div>
                            </div>
                            <span>Đèn 1</span>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="col-12 d-flex justify-content-center bg-white" style=" padding: 10px; border-radius: 8px; box-shadow: 0 0 10px 1px #bebebe;">
                        <div style="display: flex; flex-direction: column; align-items: center">
                            <div class="row">
                                <div class="col-6">
                                    <svg id="lightbulb2" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="#7E25CA" class="bi bi-lightbulb" viewBox="0 0 24 24">
                                        <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a2 2 0 0 0-.453-.618A5.98 5.98 0 0 1 2 6m6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1"/>
                                    </svg>
                                </div>
                                <div class="col-6">
                                    <svg id="toggle2" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="#7E25CA" class="bi bi-toggle-on" viewBox="0 0 24 24" onclick="toggleIcon(2)">
                                        <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8"/>
                                    </svg>
                                </div>
                            </div>
                            <span>Đèn 2</span>
                        </div>
                    </div>
                </div>
            </div> --}}
        </div>
        <div class="col-4">
            <div class="row p-0 mb-3">
                <div class="col-11 bg-white" style="margin-left: 12px; padding: 10px; border-radius: 8px; box-shadow: 0 0 10px 1px #bebebe;">
                    <div class="row">
                        <div class="col-6 mt-3 mb-3">
                            <h5>Thông báo</h5>
                        </div>
                        <div class="col-6 d-flex justify-content-end mt-2 mb-2">
                            <a href="/notification" class="btn homepage-btn">Xem tất cả</a>
                        </div>
                    </div>
                    {{#each notifications}}
                    <div class="row noti">
                        <div class="col-10"><p>
                            {{#if (eq type "sensor")}}
                            Cảm biến vượt ngưỡng
                            {{else}}
                                {{#if (eq value 1)}}
                                Bật 
                                {{else}}
                                Tắt 
                                {{/if}}
                                thiết bị
                            {{/if}}
                        </p></div>
                        <div class="col-2 d-flex justify-content-end" style="color:#aaaaaa">
                            <p class="notitime">{{time}}</p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var notifications = document.querySelectorAll('.noti');
    notifications.forEach(function(notification, index) {
        var timeTurnOnString = notification.querySelector('.notitime').innerText;
        var timeTurnOn = new Date(timeTurnOnString);
        var turnOnMonth = timeTurnOn.getMonth() + 1;
        var turnOnDate = timeTurnOn.getDate();
        var turnOnYear = timeTurnOn.getFullYear();
        var timeTurnOnFormatted = ('0' + turnOnDate).slice(-2) + '/' + ('0' + turnOnMonth).slice(-2) + '/20' + ('0' + turnOnYear).slice(-2);
        notification.querySelector('.notitime').innerText = timeTurnOnFormatted;
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const temperatureData = {
        labels: {{{temperaturelabels}}},
        datasets: [{
            label: 'Temperature Data',
            data: {{temperaturedatas}},
            fill: false,
            borderColor: '#7E25CA',
            tension: 0.1 
        }]
    };

    const humidityData = {
        labels: {{{humiditylabels}}},
        datasets: [{
            label: 'Humidity Data',
            data: {{humiditydatas}},
            fill: false,
            borderColor: '#7E25CA',
            tension: 0.1 
        }]
    };

    const lightData = {
        labels: {{{lightlabels}}},
        datasets: [{
            label: 'Light Data',
            data: {{lightdatas}},
            fill: false,
            borderColor: '#7E25CA',
            tension: 0.1 
        }]
    };

    const temperatureConfig = {
        type: 'line',
        data: temperatureData,
        options: {
            scales: {
                y: {beginAtZero: false}
            },
            plugins: {
                legend: {display: false,},
            },
        }
    };

    const humidityConfig = {
        type: 'line',
        data: humidityData,
        options: {
            scales: {
                y: {beginAtZero: false}
            },
            plugins: {
                legend: {display: false,},
            },
        }
    };

    const lightConfig = {
        type: 'line',
        data: lightData,
        options: {
            scales: {
                y: {beginAtZero: false}
            },
            plugins: {
                legend: {display: false,},
            },
        }
    };

    var temperatureLineChart = new Chart(document.getElementById('temperatureLineChart'), temperatureConfig);
    var humidityLineChart = new Chart(document.getElementById('humidityLineChart'), humidityConfig);
    var lightLineChart = new Chart(document.getElementById('lightLineChart'), lightConfig);

    function updateTime() {
        const now = new Date();
        const options = { hour: 'numeric', minute: 'numeric', hour12: false };
        const timeString = now.toLocaleTimeString(undefined, options);
        document.getElementById("current-time").textContent = timeString;
    }

    updateTime();
    setInterval(updateTime, 1000);

</script>
