
<div class="container">
    <div class="row">
        <h3 class="p-0">Thông tin cảm biến</h3>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-12 border bg-white" style="border-radius: 8px; box-shadow: 0 0 10px 1px #bebebe;">
            <div class="row mt-3">
                <div class="row d-flex justify-content-center">
                    <div class="col-11">
                        <div class="row">
                            <div class="col-6 m-0 p-0 mt-2">
                                Tên cảm biến: {{device.Name}}
                            </div>
                            <div class="col-6 m-0 p-0 mt-2">
                                Loại cảm biến: {{sensor.SensorType}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="row d-flex justify-content-center">
                    <div class="col-11">
                        <div class="row">
                            <div class="col-6 m-0 p-0 mt-2">
                                Vị trí: {{device.Location}}
                            </div>
                            <div class="col-6 m-0 p-0 mt-2">
                                Giá trị: <span id="sensorValue">{{lastsensordata}} {{sensor.Unit}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="row d-flex justify-content-center">
                    <div class="col-11">
                        <div class="row">
                            <div class="col-6 m-0 p-0 mt-2">
                                Ngưỡng an toàn: {{sensor.SafetyRange.LowerBound}} {{sensor.Unit}} - {{sensor.SafetyRange.UpperBound}} {{sensor.Unit}} 
                            </div>
                            <div class="col-6 m-0 p-0 mt-2">
                                Sai số: {{sensor.Errors}}%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <h4>Giá trị cảm biến</h4>
                </div>
                <div class="row p-0 m-0 mt-2 mb-3 d-flex justify-content-center">
                    <div class="col-11" style="border: 1px solid #ccc; padding: 10px; border-radius: 8px; box-shadow: 0 0 10px 1px #bebebe;">
                        <div class="row">
                            <div class="col-6 mt-2">
                                <p>Biểu đồ <span id="chartName"></span></p>
                            </div>
                            {{!-- <div class="col-6 d-flex justify-content-end">
                                <div class="form-group">
                                    <label for="dayDropdown"></label>
                                    <select class="form-control float-right" id="dayDropdown" style="width: 125px; border: 1px solid #ccc; border-radius: 8px;">
                                        <option value="">Ngày</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                    </select>
                                </div>
                            </div> --}}
                            <canvas id="sensorLineChart" width="400" height="75"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-11 m-0 mt-2 mb-3 justify-content-center">
                    <div class="row justify-content-end">
                            <div class="col-auto p-0">
                                <button type="button" class="btn" style="background-color: #7E25CA; color: white; margin-right: 16px;">Xuất lịch sử</button>
                            </div>
                            <div class="col-auto p-0">
                                <a href="./edit" type="button" class="btn" style="background-color: #7E25CA; color: white; margin-right: 16px;" > Chỉnh sửa </a>
                            </div>
                            <div class="col-auto p-0">
                                <button type="button" class="btn" style="background-color: #F80D0D; color: white">Xóa</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var sensordata = {{sensordata}};
    var sensorlabels = {{{sensorlabels}}};
    const sensorData = {
        labels: sensorlabels,
        datasets: [{
            label: 'data',
            data: sensordata,
            fill: false,
            borderColor: '#7E25CA',
            tension: 0.1 
        }]
    };

    const sensorConfig = {
        type: 'line',
        data: sensorData,
        options: {
            scales: {
                y: {
                    beginAtZero: false
                }
            },
            plugins: {
                legend: {
                    display: false,
                },
            },
        }
    };

    var sensorLineChart = new Chart(document.getElementById('sensorLineChart'), sensorConfig);

    var chartName = '{{sensor.SensorType}}';
    var chartNameDiv = document.getElementById('chartName');
    chartNameDiv.innerText += chartName.toLocaleLowerCase();

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mqtt/5.5.2/mqtt.min.js" integrity="sha512-CiPPr+F/BXJ5o+gA/OKGVuplGXlmXaO0yPB7jBC1UBSzY3UVGiuogYIXJJJJs8bZ7tXWhJew86eyM+HIMPLy+A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    const mqttOptions = {
        username: '{{AIO_USERNAME}}',
        password: '{{AIO_KEY}}'
    };

    const client = mqtt.connect('mqtt://io.adafruit.com', mqttOptions);
    client.setMaxListeners(15);
    client.on('connect', function () {
        console.log('Connected to Adafruit MQTT broker');
        client_name = '{{AIO_USERNAME}}' + '/feeds/' + '{{device.AdaID}}'
        client.subscribe(client_name);
    });


    client.on('message', function (topic, message) {
        const sensorDataUpdate = JSON.parse(message.toString());
        var sensorData = sensorDataUpdate;
        document.getElementById("sensorValue").textContent = sensorData + ' {{sensor.Unit}}';
    });
</script>