<h2>Thông tin cảm biến</h2>

<div class="row bg-white app-shadow border mx-auto mt-3 w-75 justify-content-center" style="border-radius: 12px;">
    <div class="row mt-4">
        <h4 class="p-0 text-center">Chỉnh sửa thông tin</h4>
    </div>
    <form id="senform" class="row gap-4 mt-4">
        <div class="row align-items-center justify-content-center">
            <div class="row col-6">
                <div class="col-5">Tên cảm biến:</div>
                <div class="col-7">
                    <input name="Name" id="id1" class="form-control form-control-sm" value="{{device.Name}}" required>
                    </input>
                </div>
            </div>
            <div class="row col-6">
                <div class="col-5">Loại cảm biến:</div>
                <div class="col-7">
                    <input name="SensorType" id="id2" class="form-control form-control-sm" value="{{sensor.SensorType}}"
                        readonly>
                    </input>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="row col-6">
                <div class="col-5">Vị trí:</div>
                <div class="col-7">
                    <input name="Location" id="id3" class="form-control form-control-sm" value="{{device.Location}}"
                        readonly>
                    </input>
                </div>
            </div>
            <div class="row col-6">
                <div class="col-5">Ngưỡng trên:</div>
                <div class="col-7">
                    <input name="UpperBound" id="id5" type="number" class="form-control form-control-sm"
                        value="{{sensor.SafetyRange.UpperBound}}" required>
                    </input>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="row col-6">
                <div class="col-5">Đơn vị tính:</div>
                <div class="col-7">
                    <input name="Unit" id="id5" class="form-control form-control-sm" value="{{sensor.Unit}}" readonly>
                    </input>
                </div>
            </div>
            <div class="row col-6">
                <div class="col-5">Ngưỡng dưới:</div>
                <div class="col-7">
                    <input name="LowerBound" type="number" id="id6" class="form-control form-control-sm"
                        value="{{sensor.SafetyRange.LowerBound}}" required>
                    </input>
                </div>
            </div>
        </div>
        <div class="row" style="display: none;" id="ErrorMessage">
            <div class="col d-flex justify-content-center">
                <div id="input1-error" style="color: red;"> Ngưỡng dưới phải bé hơn hoặc bằng ngưỡng trên.</div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-11 m-0 mt-2 mb-3 justify-content-center">
                <div class="row justify-content-end">
                    <div class="col-auto p-0 me-3">
                        <a href="/sensor/{{device._id}}" type="button" class="btn btn-danger"> Huỷ bỏ </a>
                    </div>
                    <div class="col-auto p-0">
                        <button type="submit" class="btn btn-purple">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    document.getElementById('senform').addEventListener('submit',
        async function (event) {
            event.preventDefault()
            var UpperBound = parseInt(document.getElementById("id5").value)
            var LowerBound = parseInt(document.getElementById("id6").value)
            var Error = document.getElementById("ErrorMessage")
            if (LowerBound > UpperBound)
                Error.style.display = "block"
            else {
                await axios({ method: 'post', url: '/sensor/{{device._id}}/edit', data: { UpperBound, LowerBound } })
                window.location.assign('/sensor/{{device._id}}')
            }
        })
</script>