<h2>Các cảm biến</h2>

<div class="d-flex flex-column bg-white container-fluid gray-border gap-24 border-radius-24" style="padding: 24px;">
    {{#each houses}}
    <div class="col p-2">
        <div class="card app-shadow">
            <h5 class="card-title">Nhà: {{this.Name}}</h5>
            <div>Địa chỉ: {{this.Address}}</div>
            <div class="row row-cols-4 g-2" style="">
                {{#each devices}}
                <div class="col p-2">
                    <div class="card app-shadow">
                        <div class="d-flex flex-row justify-content-between align-items-center">
                            <div class="equip-type">
                                {{this.equipType}}
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <p class="card-text">Vị trí: {{this.location}}</p>
                            <a href="./sensor/{{this._id}}/" class="btn btn-purple">Chi tiết</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{/each}}
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const equipTypeElements = document.querySelectorAll('.equip-type');
        equipTypeElements.forEach(element => {
            if (element.innerHTML.trim() === 'Nhiệt độ') {
                element.innerHTML = `{{{readSVG "sensor-heat"}}}`;
            }
            else if (element.innerHTML.trim() === 'Ánh sáng') {
                element.innerHTML = `{{{readSVG "sensor-light"}}}`;
            }
            else if (element.innerHTML.trim() === 'Độ ẩm') {
                element.innerHTML = `{{{readSVG "sensor-humidity"}}}`;
            }
        });
    });
</script>